/* MyForm.module.css */

.formContainer {
  width: 100vw;
  height: 93vh;
  background-color: #282828;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formStyle h4::after {
  position: absolute;
  content: "";
  top: 13%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #cccccca1;
}
.formStyle {
  position: relative;
  width: 300px; /* Adjust the width based on your design */
  margin: auto; /* Center the form */
  padding: 20px;
  background-color: #ffffff; /* Set a nice background color */
  border-radius: 8px; /* Add rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
  font-family: "Arial", sans-serif; /* Use a suitable font family */
  color: #ad9b9b;

  input[type="color"] {
    vertical-align: middle;
  }
  > div {
    margin-bottom: 13%;
    position: relative;
    overflow: visible;
  }
  > div > label {
    position: absolute;
    top: -12px;
    left: 6px;
    background-color: white;
    padding: 2px;
  }

  /* Style for form labels */
  label {
    display: block;
    margin-bottom: 8px;
  }

  /* Style for input and textarea fields */
  input[type="text"],
  input[type="color"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    box-sizing: border-box;
    font-size: 14px;
    outline: none; /* Adjust the font size */
  }

  /* Style for submit button */
  button {
    background-color: #007bff; /* Set a nice button color */
    color: #fff; /* Set the text color */
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    /* Adjust the font size */
  }

  /* Style for error messages */
  div.error {
    color: red;
    font-size: 12px;
  }
}

.formContainer input:focus,
textarea:focus {
  border: 1px solid #575757;
}
input:focus ~ label,
textarea:focus ~ label {
  color: #3f3f3f;
}

/* Add style for input fields with errors */
.formContainer input[type="text"]:invalid,
.formContainer input[type="color"]:invalid,
.formContainer textarea:invalid {
  border-color: red; /* Red border for input fields with errors */
}
